<footer class="footer">
    <img class="footer__image" src="img/footer-bcg.jpg" alt="">

    <div class="footer__top">
        <div class="container footer__heading-wrapper">
            <div class="footer__heading-wide footer__logo">
                <img src="img/sprite.svg#logo" alt="">
            </div>

            <div class="footer__heading-small footer__links-title footer__heading-desk">Pages</div>
            <div class="footer__heading-small footer__links-title footer__heading-desk">Utility</div>
            <div class="footer__heading-wide footer__subscribe-title footer__heading-desk">Subscribe</div>
        </div>
    </div>

    <div class="footer__wrapper container">
        <div class="footer__info">
            <div class="footer__info-text">
                Leverage agile frameworks to provide a robust synopsis for strategy collaborative thinking to further
                the
                overall value proposition.
            </div>

            <div class="footer__info-item-wrapper">
                <div class="footer__info-item">
                    <div class="footer__info-item-icon">
                        <img src="img/message-icon.png" alt="">
                    </div>

                    <div class="footer__info-item-text">
                        Email<br>
                        <a href="mailto:contact@logistics.com">contact@logistics.com</a>
                    </div>
                </div>

                <div class="footer__info-item">
                    <div class="footer__info-item-icon">
                        <img src="img/phone-icon.png" alt="">
                    </div>

                    <div class="footer__info-item-text">
                        Call Us<br>
                        <a href="tel:(00) 112 365 489">(00) 112 365 489</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer__heading-small footer__links-title footer__heading-mob">Pages</div>
        <div class="footer__links">
            <a href="" class="footer__link">About Us</a>
            <a href="" class="footer__link">Our Team</a>
            <a href="" class="footer__link">Our Project</a>
            <a href="" class="footer__link">Pricing</a>
            <a href="" class="footer__link">Contact</a>
        </div>

        <div class="footer__heading-small footer__links-title footer__heading-mob">Utility</div>
        <div class="footer__links">
            <a href="" class="footer__link">Style Guide</a>
            <a href="" class="footer__link">Changelog</a>
            <a href="" class="footer__link">Licenses</a>
            <a href="" class="footer__link">Protected</a>
            <a href="" class="footer__link">Not Found</a>
        </div>

        <div class="footer__heading-wide footer__subscribe-title footer__heading-mob">Subscribe</div>
        <div class="footer__subscribe">
            <div class="footer__subscribe-form">
                <form action="">
                    <input type="text" placeholder="Email here" name="footer-email">
                    <div class="footer__subscribe-bottom">
                        <button class="button footer__button" type="submit">Send Now</button>
                        <div class="footer__socials">
                            <a href="https://www.linkedin.com/">
                                <svg width="23px" height="23px" xmlns="http://www.w3.org/2000/svg">
                                    <use xlink:href="img/sprite.svg#linkedin"></use>
                                </svg>
                            </a>

                            <a href="https://twitter.com/">
                                <svg width="23px" height="23px" xmlns="http://www.w3.org/2000/svg">
                                    <use xlink:href="img/sprite.svg#twitter"></use>
                                </svg>
                            </a>

                            <a href="https://www.facebook.com/">
                                <svg width="23px" height="23px" xmlns="http://www.w3.org/2000/svg">
                                    <use xlink:href="img/sprite.svg#facebook"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="footer__bottom container">
        <div class="footer__bottom-copyright">
            Copyright © 2023
        </div>

        <div class="footer__bottom-links">
            <a href="">Style Guide</a>
            <a href="">Licenses</a>
            <a href="">Changelog</a>
            <a href="">Password</a>
        </div>
    </div>
</footer>