<header class="header header__desk">
    <div class="header__top">
        <div class="container header__top-wrapper">
            <div class="header__logo">
                <img src="img/sprite.svg#logo" alt="">
            </div>

            <div class="header__contacts">
                <div class="header__contacts-item">
                    <div class="header__contacts-icon">
                        <img src="img/time-icon.png" alt="">
                    </div>

                    <div class="header__contacts-text">
                        Mon - Sat 9.00 - 18.00<br>
                        Sunday Closed
                    </div>
                </div>

                <div class="header__contacts-item">
                    <div class="header__contacts-icon">
                        <img src="img/message-icon.png" alt="">
                    </div>

                    <div class="header__contacts-text">
                        Email<br>
                        <a href="mailto:contact@logistics.com">contact@logistics.com</a>
                    </div>
                </div>

                <div class="header__contacts-item">
                    <div class="header__contacts-icon">
                        <img src="img/phone-icon.png" alt="">
                    </div>

                    <div class="header__contacts-text">
                        Call Us<br>
                        <a href="tel:(00) 112 365 489">(00) 112 365 489</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="header__bottom">
        <div class="container header__bottom-wrapper">
            <nav>
                <a href="#">Home</a>
                <span></span>
                <a href="#">About</a>
                <span></span>
                <div class="dropdown">
                    <button onclick="dropdown()" class="dropbtn">Pages
                        <svg class="dropdown__arrow" width="10px" height="10px" fill="#fff"
                            xmlns="http://www.w3.org/2000/svg">
                            <use class="dropdown__arrow-use" xlink:href="img/sprite.svg#arrow-down"></use>
                        </svg>
                    </button>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="components/page-blocks/about.html">About Us</a>
                        <a href="components/page-blocks/services.html">Services</a>
                        <a href="components/page-blocks/project.html">Project</a>
                        <a href="components/page-blocks/blog.html">Blog</a>
                        <a href="components/page-blocks/team.html">Team</a>
                        <a href="components/page-blocks/contact.html">Contact</a>
                        <a href="components/page-blocks/pricing.html">Pricing</a>
                        <a href="components/page-blocks/licenses.html">Licenses</a>
                        <a href="components/page-blocks/protection.html">Protection</a>
                    </div>
                </div>

                <span></span>
                <a href="#">Project</a>
                <span></span>
                <a href="#">Contact</a>
            </nav>

            <div class="header__bottom-right">
                <div class="header__bottom-socials">
                    <a href="https://www.instagram.com/">
                        <svg class="header__instagram" width="20px" height="20px" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="img/sprite.svg#instagram"></use>
                        </svg>
                    </a>

                    <a href="https://www.facebook.com/">
                        <svg class="header__facebook" width="20px" height="20px" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="img/sprite.svg#facebook"></use>
                        </svg>
                    </a>

                    <a href="https://twitter.com/">
                        <svg class="header__twitter" width="20px" height="20px" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="img/sprite.svg#twitter"></use>
                        </svg>
                    </a>

                    <a href="https://www.linkedin.com/">
                        <svg class="header__linkedin" width="20px" height="20px" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="img/sprite.svg#linkedin"></use>
                        </svg>
                    </a>
                </div>

                <button class="button header__button">Request Quote<span></span></button>
            </div>
        </div>
    </div>
</header>

<header class="header__mob">
    <div class="header__mob-top">
        <div class="header__mob-logo">
            <img src="img/sprite.svg#logo" alt="">
        </div>

        <div id="mobile-menu" class="header__mob-menu">
            <span class="header__mob-menu-burger"></span>
        </div>
    </div>

    <div class="header__mob-body">
        <div class="header__contacts">
            <div class="header__contacts-item">
                <div class="header__contacts-icon">
                    <img src="img/time-icon.png" alt="">
                </div>

                <div class="header__contacts-text">
                    Mon - Sat 9.00 - 18.00<br>
                    Sunday Closed
                </div>
            </div>

            <div class="header__contacts-item">
                <div class="header__contacts-icon">
                    <img src="img/message-icon.png" alt="">
                </div>

                <div class="header__contacts-text">
                    Email<br>
                    <a href="mailto:contact@logistics.com">contact@logistics.com</a>
                </div>
            </div>

            <div class="header__contacts-item">
                <div class="header__contacts-icon">
                    <img src="img/phone-icon.png" alt="">
                </div>

                <div class="header__contacts-text">
                    Call Us<br>
                    <a href="tel:(00) 112 365 489">(00) 112 365 489</a>
                </div>
            </div>
        </div>

        <div class="header__bottom">
            <div class="container header__bottom-wrapper">
                <nav>
                    <a href="#">Home</a>
                    <a href="#">About</a>
                    <div class="dropdown">
                        <button onclick="dropdownMob()" class="dropbtn">Pages
                            <svg class="dropdown__arrow arrow__mob" width="10px" height="10px" fill="#fff"
                                xmlns="http://www.w3.org/2000/svg">
                                <use class="dropdown__arrow-use" xlink:href="img/sprite.svg#arrow-down"></use>
                            </svg>
                        </button>
                        <div id="myDropdownMob" class="dropdown-content">
                            <a href="components/page-blocks/about.html">About Us</a>
                            <a href="components/page-blocks/services.html">Services</a>
                            <a href="components/page-blocks/project.html">Project</a>
                            <a href="components/page-blocks/blog.html">Blog</a>
                            <a href="components/page-blocks/team.html">Team</a>
                            <a href="components/page-blocks/contact.html">Contact</a>
                            <a href="components/page-blocks/pricing.html">Pricing</a>
                            <a href="components/page-blocks/licenses.html">Licenses</a>
                            <a href="components/page-blocks/protection.html">Protection</a>
                        </div>
                    </div>
    
                    <a href="#">Project</a>
                    <a href="#">Contact</a>
                    
                </nav>
                <button class="button header__button">Request Quote<span></span></button>
            </div>
        </div>
    </div>
</header>